/* slider animation */
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s ease-in-out;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.hidden-right {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all .5s ease-in-out;
    transition-delay: 500ms;
}

@media(prefers-reduced-motion) {
    .hidden-right {
        transition: none;
    }
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
/* slider animation */

/* preview slider animation */
.preview-left {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all .3s ease-in-out;
}

@media(prefers-reduced-motion) {
    .preview-left {
        transition: none;
    }
}

.preview-right {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all .3s ease-in-out;
    transition-delay: 500ms;
}

@media(prefers-reduced-motion) {
    .preview-right {
        transition: none;
    }
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
/* preview slider animation */